* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app--container {
  width: 35.37em;
  min-height: 100vh;
  background-color: rgba(35, 37, 44, .8);
  margin: auto;
  padding: 3.43em;
  position: relative;
  box-shadow: inset 8px 9px 10px rgb(255 255 255 / 3%), inset -8px -2px 16px rgb(0 0 0 / 52%);
}

.app--inner-container {
  width: 19.813em;
  margin-left: 9em;
}

.app-right-column {
  padding-left: 2.25em;
}

body {
  background-color: black;
  color: #ffffff94;
  display: flex;
  flex-direction: column;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  min-height: 100vh;
  width: 100vw;
}

.button {
    width: 7.18em;
    height: 2.125em;
    border-radius: 5px;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

button > .lni-github-original {
  font-size: 17px;
  margin: 0;
}

.button--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.button--icon {
  margin: 11px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 9px;
  padding: 15px;
  background: linear-gradient(180deg, #4064a8 -68%, #23252c 25%);
  border: 1px solid #23252c;
  transition: 250ms;
  /* border: 1px solid #4065A8; */
}


.button--icon:hover {
  margin: 10px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 9px;
  padding: 13px;
  background: linear-gradient(180deg, #4064a8 -68%, #23252c 25%);
  transition: 250ms;
  border: 2px solid #23252c;
}

.button--icon:focus {
  margin: 10px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 9px;
  padding: 13px;
  background: linear-gradient(180deg, #4064a8 -68%, #23252c 25%);
  transition: 250ms;
  border: 2px solid #23252c;
}

.button--icon:active {
  margin: 10px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 9px;
  padding: 13px;
  background: linear-gradient(180deg, #4064a8 -68%, #23252c 25%);
  transition: 250ms;
  border: 2px solid #23252c;
}

.button--touch-state {
  margin: 10px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 9px;
  padding: 13px;
  background: linear-gradient(180deg, #4064a8 -68%, #23252c 25%);
  transition: 250ms;
  border: 2px solid #23252c;
}


.footer--container {
  width: 100%;
  height: 8.5em;
  border-radius: 0px 0px 0px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10% auto 0 auto;
}

form {
  margin-right: 1em;
}

.lni {
  font-size: 2.25em;
  color: #4065A8;
  transition: 250ms;
}

.lni:hover {
  font-size: 2.25em;
  color: rgb(245, 173, 118);
  color: rgba(245, 173, 118, .7);
  transition: 250ms;
}

.lni:focus {
  font-size: 2.25em;
  color: rgb(245, 173, 118);
  color: rgba(245, 173, 118, .7);
  transition: 250ms;
}

.lni:active {
  font-size: 2.25em;
  color: rgb(245, 173, 118);
  color: rgba(245, 173, 118, .7);
  transition: 250ms;
}

.lni--touch-state {
  font-size: 2.25em;
  color: rgb(245, 173, 118);
  color: rgba(245, 173, 118, .7);
  transition: 250ms;
}

h1 {
  margin: 1em auto 1em auto;
  color: #F5AD76;
  font-size: 1.5em;

}

.header {
  font-family: carbon, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #5876A6;
  font-size: 11em;
  display: block;
  position: absolute;
  height: 86px;
  transform: translateX(100px);
  transform: rotate(-90deg) translate(-261px, -461px);
  z-index: -1;
  letter-spacing: 7px;
}

.linkedin {
  background-color: #5093E2;
  color: white;
}

p {
  margin: 1.5em 1.5em 3em 0;
  line-height: 3em;
}

.photo {
  width: 270px;
  height: 270px; 
  background-color: gray;
  margin: auto;
  object-fit: cover;
  border-radius: 10px;
}